<!DOCTYPE html>
<html>
<head>
    <title>Iris Flower Classifier</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h1>Iris Flower Classification</h1>

    <form action="/predict" method="post">

        <input type="number" step="any"
               name="sepal_length"
               placeholder="Sepal Length (cm)"
               required>

        <input type="number" step="any"
               name="sepal_width"
               placeholder="Sepal Width (cm)"
               required>

        <input type="number" step="any"
               name="petal_length"
               placeholder="Petal Length (cm)"
               required>

        <input type="number" step="any"
               name="petal_width"
               placeholder="Petal Width (cm)"
               required>

        <button type="submit">Predict</button>

    </form>

    {% if prediction_text %}
        <h2>Predicted Species:</h2>
        <h3>{{ prediction_text }}</h3>
    {% endif %}

</div>

</body>
</html>